@import "../_essentials";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  padding-right: 5%;
  background-color: grey;

  &__text {
    font-size: 0.8rem;
    user-select: none;
    pointer-events: none;
    animation: hero 1s ease-out;

    & span {
      @include box-shadow;
    }

    &--primary {
      background: black;
      color: white;
      font-size: 7em;
      padding: 0 20px;
    }

    &--secondary {
      margin-top: 20px;
      background: white;
      color: black;
      font-size: 4.5em;
      float: left;
      padding: 0 20px;
    }

    @media (max-width: 800px) {
      font-size: 0.6rem;
    }

    @media (max-width: 480px) {
      font-size: 0.35rem;
    }
  }

  &__nick-name {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    font-style: italic;
    animation: jelly 5s infinite;
    @include text-shadow;
  }
}

@keyframes hero {
  0% {
    opacity: 0.4;
    transform: translate(-10%, -100%) scale(1, 1);
  }

  50% {
    transform: translate(0, 50%) scale(1.1, 0.9);
  }

  80% {
    transform: translate(0, -17%);
  }

  90% {
    transform: translate(0, 5%) scale(1, 1);
  }

  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}
