* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui;
}

body {
  background-color: #dcdcdc;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  width: 100%;
  padding-right: 5%;
  background-color: grey;
}
.hero__text {
  font-size: 0.8rem;
  user-select: none;
  pointer-events: none;
  animation: hero 1s ease-out;
}
.hero__text span,
.grid-info .card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.31), 0 1px 2px rgba(0, 0, 0, 0.31);
}
.hero__text--primary {
  background: black;
  color: white;
  font-size: 7em;
  padding: 0 20px;
}
.hero__text--secondary {
  margin-top: 20px;
  background: white;
  color: black;
  font-size: 4.5em;
  float: left;
  padding: 0 20px;
}
@media (max-width: 800px) {
  .hero__text {
    font-size: 0.6rem;
  }
}
@media (max-width: 480px) {
  .hero__text {
    font-size: 0.35rem;
  }
}
.hero__nick-name {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  font-style: italic;
  animation: jelly 5s infinite;
  text-shadow: 0 1px 3px blue, 0 1px 2px blue;
}

@keyframes hero {
  0% {
    opacity: 0.4;
    transform: translate(-10%, -100%) scale(1, 1);
  }
  50% {
    transform: translate(0, 50%) scale(1.1, 0.9);
  }
  80% {
    transform: translate(0, -17%);
  }
  90% {
    transform: translate(0, 5%) scale(1, 1);
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
@keyframes jelly {
  0%,
  100% {
    transform: scale(1, 1);
  }
  25% {
    transform: scale(0.9, 1.1);
  }
  50% {
    transform: scale(1.1, 0.9);
  }
  75% {
    transform: scale(0.95, 1.05);
  }
}

/* New */
h1 {
  text-align: center;
}

.container {
  width: 80vw;
  margin: 30px auto;
}

.grid-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin: 30px 0;
}

.grid-info .card {
  background-color: white;
  padding: 20px;
}

.grid-info .card.skill {
  grid-row: 2 / 4;
}

.grid-info .card.study {
  grid-row: 1 / 3;
  grid-column: 2;
}
